App_WebReferences/FinService/Finservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Authen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_usertype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlAuthen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlAuthenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlAuthenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="blankNode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="blankNodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blankNodeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="blankString">
        <s:complexType />
      </s:element>
      <s:element name="blankStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blankStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="permission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_menuId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="permissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="permissionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStudentUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStudentUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStudentUIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_string" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenSoapIn">
    <wsdl:part name="parameters" element="tns:Authen" />
  </wsdl:message>
  <wsdl:message name="AuthenSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenResponse" />
  </wsdl:message>
  <wsdl:message name="XmlUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:XmlUserInfo" />
  </wsdl:message>
  <wsdl:message name="XmlUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:XmlUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="XmlAuthenSoapIn">
    <wsdl:part name="parameters" element="tns:XmlAuthen" />
  </wsdl:message>
  <wsdl:message name="XmlAuthenSoapOut">
    <wsdl:part name="parameters" element="tns:XmlAuthenResponse" />
  </wsdl:message>
  <wsdl:message name="blankNodeSoapIn">
    <wsdl:part name="parameters" element="tns:blankNode" />
  </wsdl:message>
  <wsdl:message name="blankNodeSoapOut">
    <wsdl:part name="parameters" element="tns:blankNodeResponse" />
  </wsdl:message>
  <wsdl:message name="blankStringSoapIn">
    <wsdl:part name="parameters" element="tns:blankString" />
  </wsdl:message>
  <wsdl:message name="blankStringSoapOut">
    <wsdl:part name="parameters" element="tns:blankStringResponse" />
  </wsdl:message>
  <wsdl:message name="permissionSoapIn">
    <wsdl:part name="parameters" element="tns:permission" />
  </wsdl:message>
  <wsdl:message name="permissionSoapOut">
    <wsdl:part name="parameters" element="tns:permissionResponse" />
  </wsdl:message>
  <wsdl:message name="getStudentUIDSoapIn">
    <wsdl:part name="parameters" element="tns:getStudentUID" />
  </wsdl:message>
  <wsdl:message name="getStudentUIDSoapOut">
    <wsdl:part name="parameters" element="tns:getStudentUIDResponse" />
  </wsdl:message>
  <wsdl:message name="infoSoapIn">
    <wsdl:part name="parameters" element="tns:info" />
  </wsdl:message>
  <wsdl:message name="infoSoapOut">
    <wsdl:part name="parameters" element="tns:infoResponse" />
  </wsdl:message>
  <wsdl:portType name="FinserviceSoap">
    <wsdl:operation name="Authen">
      <wsdl:input message="tns:AuthenSoapIn" />
      <wsdl:output message="tns:AuthenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlUserInfo">
      <wsdl:input message="tns:XmlUserInfoSoapIn" />
      <wsdl:output message="tns:XmlUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlAuthen">
      <wsdl:input message="tns:XmlAuthenSoapIn" />
      <wsdl:output message="tns:XmlAuthenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="blankNode">
      <wsdl:input message="tns:blankNodeSoapIn" />
      <wsdl:output message="tns:blankNodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="blankString">
      <wsdl:input message="tns:blankStringSoapIn" />
      <wsdl:output message="tns:blankStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="permission">
      <wsdl:input message="tns:permissionSoapIn" />
      <wsdl:output message="tns:permissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStudentUID">
      <wsdl:input message="tns:getStudentUIDSoapIn" />
      <wsdl:output message="tns:getStudentUIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="info">
      <wsdl:input message="tns:infoSoapIn" />
      <wsdl:output message="tns:infoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinserviceSoap" type="tns:FinserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authen">
      <soap:operation soapAction="http://tempuri.org/Authen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlUserInfo">
      <soap:operation soapAction="http://tempuri.org/XmlUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlAuthen">
      <soap:operation soapAction="http://tempuri.org/XmlAuthen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="blankNode">
      <soap:operation soapAction="http://tempuri.org/blankNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="blankString">
      <soap:operation soapAction="http://tempuri.org/blankString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="permission">
      <soap:operation soapAction="http://tempuri.org/permission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentUID">
      <soap:operation soapAction="http://tempuri.org/getStudentUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="info">
      <soap:operation soapAction="http://tempuri.org/info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FinserviceSoap12" type="tns:FinserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authen">
      <soap12:operation soapAction="http://tempuri.org/Authen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlUserInfo">
      <soap12:operation soapAction="http://tempuri.org/XmlUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlAuthen">
      <soap12:operation soapAction="http://tempuri.org/XmlAuthen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="blankNode">
      <soap12:operation soapAction="http://tempuri.org/blankNode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="blankString">
      <soap12:operation soapAction="http://tempuri.org/blankString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="permission">
      <soap12:operation soapAction="http://tempuri.org/permission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentUID">
      <soap12:operation soapAction="http://tempuri.org/getStudentUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="info">
      <soap12:operation soapAction="http://tempuri.org/info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Finservice">
    <wsdl:port name="FinserviceSoap" binding="tns:FinserviceSoap">
      <soap:address location="https://smartedu.mahidol.ac.th/FinService/Finservice.asmx" />
    </wsdl:port>
    <wsdl:port name="FinserviceSoap12" binding="tns:FinserviceSoap12">
      <soap12:address location="https://smartedu.mahidol.ac.th/FinService/Finservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>